imports:
    - tests/Behat/Resources/suites.yaml

default:
    extensions:
        FriendsOfBehat\ContextServiceExtension:
            imports:
                - tests/Behat/Resources/services.xml

        FriendsOfBehat\SymfonyExtension:
            kernel:
                class: \Tests\ItsMegger\{{ capitalized_projectname }}\Application\AppKernel
                path: tests/Application/AppKernel.php
                bootstrap: vendor/autoload.php

        FriendsOfBehat\CrossContainerExtension: ~

        Behat\MinkExtension:
            base_url: "http://example.com/"
            sessions:
                default:
                    symfony: ~

        Behatch\Extension: ~
